/*Edicion Container TOP*/
.containertop {
    width:100%; 
    margin:0 auto;
}

/*Edicion Label*/
.labelname {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

/*Container*/ 
.containertimeline {
    margin-left: 25px;
    margin-right: 25px;
}
.paneltimeline {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid #ddd;
}

.activo {
    background-color: #177bbb;
    color: #aad7f4;
}
